name: Auto Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Java & Maven Setup
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Version proceec
        id: version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          VERSION_RELEASE=${VERSION/-SNAPSHOT/}
          echo "Release-Version: $VERSION_RELEASE"
          echo "release_version=$VERSION_RELEASE" >> $GITHUB_OUTPUT
          echo "next_version=$(echo $VERSION | awk -F. '{OFS="."; $2+=1; $3=0; print $1,$2,$3"-SNAPSHOT"}')" >> $GITHUB_OUTPUT

      - name: Create Release-Branch
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git checkout -b releases/${{ steps.version.outputs.release_version }}

          # "-SNAPSHOT" removal 
          mvn versions:set -DnewVersion=${{ steps.version.outputs.release_version }}
          git commit -a -m "Set version to ${{ steps.version.outputs.release_version }} for release"
          git push origin releases/${{ steps.version.outputs.release_version }}

      - name: Increase version n main-Branch
        run: |
          git checkout master
          mvn versions:set -DnewVersion=${{ steps.version.outputs.next_version }}
          git commit -a -m "Bump version to ${{ steps.version.outputs.next_version }}"
          git push origin master

      - name: GitHub Release Creation
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.release_version }}
          name: Release ${{ steps.version.outputs.release_version }}
          draft: false
          prerelease: false
          make_latest: true

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

